@use '../abstracts' as *;

#root {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

html {
	font-size: 62.5%;
	/* 1.6rem * 62.5 = 10px = 1rem */
	box-sizing: border-box;
	scroll-padding-top: 220px; /* height of sticky header */
	scroll-margin-top: 220px;
	overflow-x: hidden;
}

body {
	font: 1.6rem Helvetica;
	font-family: $phrase_font;
	font-size: calc(0.75em + 1vmin);
	margin: 0;
	background-color: $theme_color_dark;
	color: $theme_color_phrase_font;
	scroll-padding-top: 220px; /* height of sticky header */
	scroll-margin-top: 220px;
	position: relative;
}

*:focus {
	outline: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

.link {
}

.form_input::placeholder {
	color: white;
}

.projects {
	display: grid;
	// grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 2rem;
	row-gap: 2rem;
	place-items: center;
}
