@use '../abstracts' as *;

.link-container {
	position: relative;
}

.link-content {
	position: absolute;
	transition: all 0.2s ease-in-out, height 0.5s ease-in-out;
	opacity: 0;
	height: 0px;
	width: 20px;
	left: -10px;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
}

.facebook-link,
.instagram-link,
.linkedin-link,
.soundcloud-link {
	position: absolute;
	transition: all 0.2s ease-in-out, opactiy 0.01s;
	top: 0px;
	opacity: 0;
}

.link-container:hover .facebook-link {
	opacity: 1;
	top: 30px;
}
.link-container:hover .instagram-link {
	opacity: 1;
	top: 60px;
}
.link-container:hover .linkedin-link {
	opacity: 1;
	top: 90px;
}
.link-container:hover .soundcloud-link {
	opacity: 1;
	top: 120px;
}
.link-container:hover .link-content {
	opacity: 1;
	height: 150px;
}
