@use '../abstracts' as *;

.tooltip_p {
	position: relative;
	display: inline-block;
	/* width: 100%; */
	/* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip_p .tooltiptext_p {
	visibility: hidden;
	/* width: 75px; */
	background-color: black;
	opacity: 0.5;
	color: #fff;
	text-align: center;
	/* padding: 10px; */
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 15%;
	left: 5%;
	min-width: 70%;
	margin: 0px 10px;
	/* margin-left: -60px; */
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip_p:hover .tooltiptext_p {
	visibility: visible;
	font-size: 16px;
}

.tooltip_n {
	position: relative;
	display: inline-block;
	/* width: 100%; */
	/* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip_n .tooltiptext_n {
	visibility: hidden;
	/* width: 75px; */
	background-color: black;
	opacity: 0.5;
	color: #fff;
	text-align: center;
	/* padding: 10px; */
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 10%;
	left: 25%;
	width: 40%;
	/* margin: 0px 10px; */
	margin: 0px auto;
	/* margin-left: -60px; */
}
