@media screen and (max-width: 930px) {
  #home_words_div {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  #head_shot_div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #icon_container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  #about_div {
    margin-left: 0px;
    /* width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; */
  }
  #projects_h1 {
    text-align: center;
  }
  #contact_h1 {
    margin-left: 0px;
  }
  #blog_div {
    max-width: 530px;
  }
  p {
    /* width: 100%; */
    margin: 15px auto;
  }
  #home_img_div {
    margin: 0px auto;
  }
  .input_i {
    padding: 0px;
  }
}

@media screen and (max-width: 887px) {
  #icon_container {
    margin-top: 0px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 791px) {
  #home_words_div {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  #head_shot_div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #icon_container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  #about_div {
    margin-left: 0px;
    /* width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; */
  }
  #projects_h1 {
    text-align: center;
  }
  #contact_h1 {
    margin-left: 0px;
  }
  #blog_div {
    height: 57vh;
    max-width: 400px;
  }
}

@media screen and (max-width: 481px) {
  #head_shot {
    object-fit: cover;
    object-position: 70% 0;
    height: 200px;
    width: 200px;
    /* max-width: 300px; */
    /* max-height: 300px; */
    border-radius: 25px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 13px;
  }
  .content_div {
    padding: 10px;
  }
  #contact_h1 {
    margin: 0px;
    font-size: 30px;
  }
  #home_h1 {
    margin: 0px;
  }
  #blog_div {
    height: 60vh;
    max-width: 320px;
  }
  #blog_post_img {
    height: 200px;
    width: 200px;
  }
  #about_head_shot {
    object-fit: cover;
    object-position: 70% 0;
    height: 200px;
    width: 200px;
    /* max-width: 300px; */
    /* max-height: 300px; */
    border-radius: 25px;
    display: none;
  }
}

@media screen and (max-width: 330px) {
  #home_h1 {
    font-size: 30px;
  }
  #about_h1 {
    font-size: 30px;
  }
  #projects_h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  #blog_div {
    height: 50vh;
    max-width: 300px;
  }
}

@media screen and (max-width: 930px) {
  /* #head_shot_div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
  } */
  /* #home_words_div {
    justify-content: center;
    text-align: center;
    width: 100%;
  } */
  /* #head_shot_div {
    width: 100%;
    display: flex;
    justify-content: center;
  } */
  /* #icon_container {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
  } */
}

@media screen and (max-width: 481px) {
  /* #about_head_shot {
    object-fit: cover;
    object-position: 70% 0;
    height: 200px;
    width: 200px;
    border-radius: 25px;
    display: none;
  } */
}