#head_shot {
  object-fit: cover;
  object-position: 80% 0;
  height: 300px;
  /* width: 300px; */
  max-width: 300px;
  /* max-height: 300px; */
  border-radius: 25px;
  /* margin-left: 10px; */
}

#blog_post_banner {
  object-fit: cover;
  object-position: 50% 40%;
  /* height: 400px; */
  /* width: 400px; */
  /* max-width: 300px; */
  /* max-height: 300px; */
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  overflow: scroll;
  overflow-x: auto;
  margin-top: 20px;
  height: 40vh;
  width: 50vh;
}

#blog_post_img {
  max-width: 300px;
  max-height: 300px;
}

.blog_post_div {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  overflow-y: auto;
  margin-top: 20px;
  /* width: 80vh; */
  max-width: 800px;
  /* height: 55vh; */
}

.blog_post_h2 {
  font-weight: bold;
  color: unset;
  font-family: unset;
}

.blog_p {
  max-width: unset;
}

#banner_div {
  display: flex;
  width: 100%;
  margin: 20px 0px;
}

#blog_div {
  overflow: scroll;
  overflow-x: auto;
  margin-top: 20px;
  height: 55vh;
}

#home_container_div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home_words_div {
  /* min-width: 150px; */
  /* margin-right: 150px; */
}

#home_img_div {
  /* width: 500px; */
  /* margin-left: 150px; */
}

h2 {
  font-weight: 300;
  width: unset;
  color: rgb(141, 141, 141);
}

h1 {
  font-size: 50px;
  margin: 0px;
}

.responsive {
  width: 100%;
  height: auto;
}

p {
  max-width: 450px;
}

.fa-linkedin {
  margin-left: 0px;
}

.icon {
  font-size: 40px;
  margin-left: 0px;
}

#icon_container {
  /* height: 100%; */
  display: flex;
  margin-top: 60px;
  /* align-items: flex-end; */
}

#thingiverse_logo {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

#about_me_div {
  max-width: 500px;
}

#projects_h1 {
  margin-left: 20px;
}

a:-webkit-any-link {
  color: rgb(117, 117, 117);
  text-decoration: none !important;
}

#web_developer_h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  transition: font-family 10s ease;
  height: 25px;
}

#web_developer_h2:hover {
  font-family: "Courier New";
  /* font-family: 'VT323', monospace; */
  height: 25px;
}

#creator_h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  transition: font-family 10s ease;
  height: 25px;
}

#creator_h2:hover {
  /* font-family: "Courier New"; */
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 24px;
  height: 25px;
}

#thinker_h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  transition: font-family 10s ease;
  height: 25px;
}

#thinker_h2:hover {
  /* font-family: "Courier New"; */
  /* font-family: 'Liu Jian Mao Cao', cursive; */
  font-family: 'Rajdhani', sans-serif;
  font-size: 24px;
  height: 25px;
}

#blog_post_pop_up {
  padding: 10px;
  left: 42px;
  background-color: white !important;
  color: black;
}

#about_head_shot {
  object-fit: cover;
  object-position: 80% 0;
  height: 300px;
  /* width: 300px; */
  max-width: 300px;
  /* max-height: 300px; */
  border-radius: 25px;
  /* margin-left: 10px; */
}

#home_container_div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home_words_div {
  /* min-width: 150px; */
  /* margin-right: 150px; */
}

#home_img_div {
  /* width: 500px; */
  /* margin-left: 150px; */
}

h2 {
  font-weight: 300;
  color: rgb(141, 141, 141);
}

h1 {
  font-size: 50px;
  margin: 0px;
}

.responsive {
  width: 100%;
  height: auto;
}

p {
  max-width: 450px;
}

#about_me_div {
  max-width: 500px;
  margin: 0px auto;
}