.content_div {
  margin: 20px auto;
  background-color: white;
  padding: 50px;
  border-radius: 25px;
  opacity: .8;
  max-width: 800px;
  /* margin: 0px 20px; */
}

.container_div {
  margin-top: 100px;
}

@media screen and (max-width: 930px) {
  .content_div {
    /* margin: 10px 100px; */
    margin: 20px;
  }
}

@media screen and (max-width: 788px) {
  .container_div {
    margin-top: 20px;
  }
  .content_div {
    margin: 10px 100px;
  }
}

@media screen and (max-width: 656px) {
  .content_div {
    /* padding: 20px; */
    margin: 20px
    /* height: 70vh; */
  }
}

@media screen and (max-width: 497px) {
  .content_div {
    padding: 20px;
    /* margin: 20px */
    /* height: 70vh; */
  }
}