@use '../abstracts' as *;

.modal-floating {
	// display: none; /* Hidden by default */
	// position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	// opacity: 0;
	margin: auto;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	// overflow: hidden; /* Enable scroll if needed */
	// background-color: rgb(0, 0, 0); /* Fallback color */
	// background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, .15);
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	// background: linear-gradient(180deg, #8a8a8a 0%, #272727 100%);
	box-shadow: inset rgb(255 255 255 / 20%) 0px 0px 19px 20px;
	// box-shadow: rgb(255 255 255 / 50%) 0px 0px 20px 5px;
	border-radius: 20px;
	// background-color: #ffffffc9;
	margin: 30% auto; /* 15% from the top and centered */
	padding: 20px;

	width: 100%; /* Could be more or less, depending on screen size */
	height: 400px;
	max-width: 800px;
}
/* Modal Content/Box */
.modal-paragraph {
	// background: linear-gradient(180deg, #8a8a8a 0%, #272727 100%);
	box-shadow: inset rgb(255 255 255 / 20%) 0px 0px 19px 20px;
	// box-shadow: rgb(255 255 255 / 50%) 0px 0px 20px 5px;
	border-radius: 20px;
	background-color: #ffffffc9;
	padding: 20px;

	// width: 100%; /* Could be more or less, depending on screen size */
	// height: 400px;
	// max-width: 800px;
}
.modal-title {
	// background: linear-gradient(180deg, #8a8a8a 0%, #272727 100%);
	box-shadow: inset rgb(255 255 255 / 20%) 0px 0px 19px 20px;
	// box-shadow: rgb(255 255 255 / 50%) 0px 0px 20px 5px;
	border-radius: 20px;
	background-color: #ffffffc9;
	padding: 20px;

	// width: 100%; /* Could be more or less, depending on screen size */
	// height: 400px;
	// max-width: 800px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
