.glass_glow {
	box-shadow: rgb(255 255 255 / 50%) 0px 0px 20px 5px;
}

.hover {
	box-shadow: rgb(255 255 255 / 50%) 0px 0px 20px 5px;
	transition: all .5s;
}

.hover:hover {
	box-shadow: rgb(255 255 255 / 50%) 0px 0px 20px 20px;
	transform: scale(1.02);
}
.invisible_glow {
	box-shadow: rgba(255, 255, 255, .05) 0px 0px 20px 5px;
	backdrop-filter: blur(5px);
}
.invisible_hover {
	box-shadow: rgba(255, 255, 255, .05) 0px 0px 20px 5px;
	backdrop-filter: blur(5px);
	transition: all .2s;
}

.invisible_hover:hover {
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(5px);
	box-shadow: rgb(255 255 255 / 50%) 0px 0px 20px 5px;
	transform: scale(1.1);
}

.react-reveal {
	// backdrop-filter: blur(5px);
	margin: auto;
}

.blur_hover {
	filter: blur(2px);
	transition: all .5s;
}
.blur_hover:hover {
	filter: blur(0px);
}
.unblur_hover {
	filter: blur(0px);
	transition: all .5s;
}
.unblur_hover:hover {
	filter: blur(2px);
}

.backdrop-filter {
	backdrop-filter: blur(5px);
}
/*===================*/
/* BOB
/*===================*/

@-webkit-keyframes bob-on-hover {
	0% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}
@keyframes bob-on-hover {
	0% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}
@-webkit-keyframes bob-on-hover-float {
	100% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}
@keyframes bob-on-hover-float {
	100% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}
.bob {
	display: inline-block;
	vertical-align: middle;
	// -webkit-transform: perspective(1px) translateZ(0);
	// transform: perspective(1px) translateZ(0);
	// box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-animation-name: bob-on-hover-float, bob-on-hover;
	animation-name: bob-on-hover-float, bob-on-hover;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
// .bob-on-hover:hover,
// .bob-on-hover:focus,
// .bob-on-hover:active {
// 	-webkit-animation-name: bob-on-hover-float, bob-on-hover;
// 	animation-name: bob-on-hover-float, bob-on-hover;
// 	-webkit-animation-duration: .3s, 1.5s;
// 	animation-duration: .3s, 1.5s;
// 	-webkit-animation-delay: 0s, .3s;
// 	animation-delay: 0s, .3s;
// 	-webkit-animation-timing-function: ease-out, ease-in-out;
// 	animation-timing-function: ease-out, ease-in-out;
// 	-webkit-animation-iteration-count: 1, infinite;
// 	animation-iteration-count: 1, infinite;
// 	-webkit-animation-fill-mode: forwards;
// 	animation-fill-mode: forwards;
// 	-webkit-animation-direction: normal, alternate;
// 	animation-direction: normal, alternate;
// }
